@charset "utf-8";

// Define defaults for each variable.

$base-font-family: Ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;



$background-color: #f0ead6 !default;
$text-color:       #111 !default;
$title-text-color: #8E622E !default;
$brand-color:      #5d51b5 !default;


$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

//from Paletton

$color-primary-0: #B17B3B;	// Main Primary color */
$color-primary-1: #F6AD56;
$color-primary-2: #D49448;
$color-primary-3: #8E622E;
$color-primary-4: #6A4922;

$color-secondary-1-0: #B1913B;	// Main Secondary color (1) */
$color-secondary-1-1: #F6CA56;
$color-secondary-1-2: #D4AE48;
$color-secondary-1-3: #8E742E;
$color-secondary-1-4: #6A5622;

$color-secondary-2-0: #343A7A;	// Main Secondary color (2) */
$color-secondary-2-1: #4A53AA;
$color-secondary-2-2: #3F4792;
$color-secondary-2-3: #292E62;
$color-secondary-2-4: #1E2249;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
